@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --color-rocket: #7159c1;
    --color-details: #e9d0af;
    --color-header: #574399;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--color-rocket);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--color-header);
    border-bottom: 1px solid var(--color-details);
}

div legend {
    padding: 15px;
}

div legend#header {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
}

div legend#desc {
    margin: 40px 0;
    display: inline-flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}

div legend#links {
    text-align: center;
}

header div legend img {
    border-radius: 50%;
    height: 70px;
    border: 2px solid var(--color-details);
}

header div legend h1 {
    color: var(--color-details);
    font-size: 28px;
}

div legend p, ul {
    text-align: justify;
    max-width: 450px;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    color: black;
}

legend#links a {
    padding: 20px;
    color: black;
    filter: brightness(80%);
    text-decoration: none;
}

legend#links a:hover {
    color: blanchedalmond;
    text-decoration: underline;
    transition: color 400ms;
}