@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --color-rocket: #7159c1;
    --color-details: #e9d0af;
    --color-header: #574399;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-rocket);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--color-header);
    border-bottom: 1px solid var(--color-details);
}

header div {
    padding: 15px;
}

header div.header {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
}

div.wrapper {
    display: grid;
    row-gap: 30%;
}

div.content {
    display: flex;
    justify-content: center;
}

div.desc {
    margin: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    padding: 14px;
}

header div.header img {
    border-radius: 50%;
    height: 70px;
    border: 2px solid var(--color-details);
}

header div.header h1 {
    color: var(--color-details);
    font-size: 28px;
}

div.techs {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

div.desc p,
div.desc ul,
div.desc span {
    text-align: justify;
    max-width: 450px;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    color: black;
}

div.links {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

div.links a {
    font-size: 16px;
    color: black;
    filter: brightness(80%);
    text-decoration: none;
}

div.links a:hover {
    color: blanchedalmond;
    text-decoration: underline;
    transition: color 400ms;
}