@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --color-rocket: #7159c1;
    --color-details: #e9d0af;
    --color-background: #a6a4a8;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--color-background);
    filter: brightness(100%);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--color-rocket);
    filter: brightness(80%);
    border-bottom: 1px solid var(--color-details);
}

header h1 {
    color: white;
    text-align: center;
    padding: 20px;
}

/* === CARDS === */

.cards {
    max-width: fit-content;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--color-background);
    filter: brightness(85%);
    cursor: pointer;
    border: 1px solid var(--color-details);
    width: 330px;
}

.card:hover {
    border: 2px solid var(--color-details);
    filter: brightness(102%);
}

.card_image {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card_image img {
    height: 150px;
}

.card_content, 
.card_info {
    text-align: center;
    padding: 20px;
}

.card_price {
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

/* === MODAL === */

.modal_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close_modal {
    color: black;
    position: absolute;
    right: 0;
    padding: 2px 4px;
    cursor: pointer;
}

.modal .close_modal:hover {
    background-color: red;
    transition: background-color 300ms;
}

/* === MODAL.ACTIVE */

.modal_overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 95%;
    position: absolute;
    bottom: 0;
}

/* === MODAL.MAXIMIZED === */

.modal.maximized {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.modal .maximize_modal {
    color: black;
    position: absolute;
    right: 30px;
    padding: 2px 4px;
    cursor: pointer;
}

.modal .maximize_modal:hover {
    background-color: #f2f2f3;
    transition: background-color 300ms;
}