* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

.page-flex {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    grid-area: header;
    background-color: bisque;

    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
}

.content {
    grid-area: content;
    background-color: cadetblue;

    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation {
    grid-area: navigation;
    background-color: darkgray;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
}

.sidebar {
    grid-area: sidebar;
    background-color: coral;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
}

.footer {
    grid-area: footer;
    background-color: darkolivegreen;

    text-align: center;
    padding: 6px 0;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "header"
        "navigation"
        "content"
        "sidebar"
        "footer";
}

.container .navigation ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .navigation ul li {
    list-style: none;
}

.container .navigation ul li a {
    text-decoration: none;
}

footer {
    margin-top: auto;
}