@media (max-width: 900px) {
    
    .links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px 0;
    }

    .cards {
        grid-template-columns: none;
    }

    div legend#desc {
        display: grid;
        grid-template-columns: none;
        gap: 60px 0;
    }

    header div a {
        margin: 0;
    }

    div legend p, ul {
        margin: 0 auto;
    }
    
}